
<div class="table-wrapper">
  <ng-container class="table-responsive" *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
    <ng-container *ngSwitchCase="appState.dataState === 'LOADED_STATE'">
      <table mat-table>
        <thead class="table-title">
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay">
            <th>Image</th>
            <th>IP Address</th>
            <th>Name</th>
            <th>Memory</th>
            <th>Type</th>
            <th>Status</th>
            <th>Ping</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let server of appState.appData.data.servers; let i = index">
        <tr>
          <td> <img [src]="server.imgUrl" [alt]="server.serverName" width="40" height="40"></td>
          <td>{{ server.ipAddress }}</td>
          <td>{{ server.serverName }}</td>
          <td>{{ server.memory }}</td>
          <td>{{ server.type }}</td>
          <td>
            <span class="badge" [ngClass]="[server.status === 'SERVER_UP' ? ' badge-success' : ' badge-danger']">
              {{ server.status === 'SERVER_UP' ? 'SERVER UP' : 'SERVER DOWN' }}
            </span>
          </td>
        </tbody>
      </table>
    </ng-container>
    <ng-container *ngSwitchCase="appState.dataState === 'ERROR_STATE'">


    </ng-container>
  </ng-container>
</div>
